.btn1 {
color: black;
font-size: 20px;
margin: 15px;
}

.card {
    width: 18rem;
  }

  .title{
    font-size: 50px;
}

.thumbImg {
    margin: 15px;
}

.cardIng {
    font-size: 30px;
}

.added {
    font-size: 20px;
    color: black;
}